body {
    outline: 1px solid whitesmoke;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 320px;
    margin: 0 auto;
    font-family: 'Rubik', sans-serif;
    color: #432000;
}

#title {
    text-align: center;
    font-size: 1.5rem;
}

.hide-section {
    display: none;
}

.show-section {
    display: block;
}

.empty-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-list img {
    width: 80%;
}

/* MULTIPLE SECTION ELEMENTS */

#cart-input, #to-do-input, #note-input {
    color: #432000;
    background-color: #DCE1EB;
    border: 0;
    border-radius: .5rem;
    padding: .25rem;
    font-family: 'Rubik', sans-serif;
    font-size: 1.25rem;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: .25rem;
}

#cart-btn, #bulk-btn, #to-do-list-btn, #note-btn {
    color: #FDFDFD;
    background-color: #AC485A;
    border: 0;
    border-radius: .5rem;
    padding: .5rem .25rem;
    font-family: 'Rubik', sans-serif;
    width: 45%;
}

#to-do-list-btn, #note-btn {
    width: 100%;
}

#to-do-section ul, #notes-section ul {
    font-size: .8rem;
    line-height: 1.25rem;
}

#to-do-list li, #note-list li {
    margin-bottom: .5rem;
}

#todo-list-empty, #note-list-empty {
    text-align: center;
}

#cart-btn:hover, #bulk-btn:hover, #to-do-list-btn:hover, #note-btn:hover {
    background-color: #432000;
    cursor: pointer;
}

#shopping-list li, #bulk-list li, #to-do-list li, #note-list li {
    background-color: #FFFDF8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    padding: .5rem;
    border-radius: .5rem;
    flex-grow: 1;
    text-align: center;
}

#shopping-list li:hover, #bulk-list li:hover, #to-do-list li:hover, #note-list li:hover {
    background-color: #FFECC7;
    cursor: pointer;
}

/* NAV */

nav {
    display: flex;
    justify-content: space-around;
    margin-top: .5rem;
}

nav button {
    width: 5rem;
    color: #432000;
    background-color: #FFFDF8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    padding: .5rem;
    border: none;
    border-radius: .5rem;
}

nav button:hover {
    background-color: #FFECC7;
    cursor: pointer;
}

/* MAIN */

main {
    margin-top: .5rem;
    padding: 0 .5rem;
    
}

/* SHOPPING LIST */

#shopping-list, #bulk-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .25rem;
    list-style: none;
    padding: 0;
    font-size: .8rem;
}

#buttons {
    display: flex;
    justify-content: space-around;
}

#cart-empty {
    margin: auto;
}

h2 {
    text-align: center;
    font-size: 1rem;
    margin-top: 1.25rem;
    padding-top: .5rem;
    border-top: 1px solid whitesmoke;
}

/* TO DO LIST */

#to-do-list {
    list-style: none;
    padding: .5rem 0 0;
    border-top: 1px solid whitesmoke;
}

/* NOTES LIST */

#note-list {
    list-style: none;
    padding: .5rem 0 0;
}

#note-list li {
    border-top: 1px solid whitesmoke;
    text-align: left;
}