body {
    outline: 1px solid whitesmoke;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 320px;
    margin: 0 auto;
}

/* NAV */

nav {
    display: flex;
    justify-content: space-around;
    margin-top: .5rem;
}

nav button {
    width: 5rem;
}

nav button:hover {
    cursor: pointer;
}

/* MAIN */

main {
    outline: 1px solid whitesmoke;
    margin-top: .5rem;
    padding: .5rem;
}